.App {
  text-align: center;
  background-color: #efefef;
  min-height: 100vh;
  height: 100%;
  box-sizing: border-box;
  color: darken(white,5);
  padding-top: 10px;
  font-family: monospace;
  *{
  	transition: all ease .25s;
  }
}

.clickable{
	cursor: pointer;
}

.mobile-container {
  width: 100%;
  max-width: 540px;
  padding: 5px 10px;
  margin: 0 auto;
}
